<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static\style.css">
</head>
<body class="admin-dashboard">
    <h1>Admin Dashboard</h1>
    <h2>Recent Orders (Last Hour)</h2>
    
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Username</th>
                    <th>Items</th>
                    <th>Status</th>
                    <th>Change Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.username }}</td>
                    <td>
                        {% for item, quantity in order.order_details.items() %}
                            {{ item }}: {{ quantity }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ order.status }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('admin') }}">
                            <select name="status">
                                <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
                                <option value="Paid" {% if order.status == 'Paid' %}selected{% endif %}>Paid</option>
                                <option value="Completed" {% if order.status == 'Completed' %}selected{% endif %}>Completed</option>
                                <option value="Cancelled" {% if order.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
                            </select>
                            <input type="hidden" name="order_id" value="{{ order._id }}">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

    <script>
        setInterval(function() {
            location.reload();
        }, 60000);  // Refresh every 1 minute to check status
    </script>

    <div style="margin-top: 20px;">
        <a href="{{ url_for('logout') }}" style="text-decoration: none; color: blue;">Logout</a>
    </div>
</body>
</html>
