<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form method="POST">

        <!-- NEW Password -->
        <label for="new_password">NEW Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>

        <!-- NEW Password Verification -->
        <label for="confirm_password">Confirm NEW Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <!-- Submit Button -->
        <input type="submit" value="Reset Password">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>