<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>404 - Error</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Pizzeria Logo">
            </a>
        </div>
        
        <nav class="navbar">
            <a href="{{ url_for('menu') }}">Menu</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
            
            {% if session.get('username') %}
                {% if session['username'] == 'admin' %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% elif session['username'] == 'Guest' %}
                    <a href="{{ url_for('login') }}">Sign In</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% else %}
                    <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('login') }}">Sign In</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>        
    </header>
    

    <main class="main-content">
        <div class="error-container">
            <h1><strong>{{pages}} </strong></h1>
            <p>Mamma Mia! Page not found. It is like dropping pizza on the ground...</p>
            <p>The page you're looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            
            <a class="order-button" href="{{ url_for('index') }}">Go back to home</a>

        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 Mario and Luigi Pizzeria. All rights reserved.</p>
    </footer>    
</body>
</html>
