<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

    <!-- Header -->
    <header class="header">

        <div class="logo">
            <a href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Pizzeria Logo">
            </a>
        </div>
        
        <nav class="navbar">
            <a href="{{ url_for('menu') }}">Menu</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('login') }}">Sign In</a>
            <a href="{{ url_for('register') }}">Register</a>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="main-content">
        <div class="login-box">
            <h1>Reset Password</h1>
            <p>Please enter and confirm your new password below.</p>
            
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}   

            <form method="POST">
                <div class="form-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" required placeholder="Enter new password" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="confirm_password">Confirm New Password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm new password" class="form-control">
                </div>

                <button type="submit" class="btn">Reset Password</button>
            </form>

            <form action="{{ url_for('login') }}" method="get">
                <button type="submit" class="register-button">Back to sign in</button>
            </form>
        </div>
        
        
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Mario and Luigi Pizzeria. All rights reserved.</p>
    </footer>

</body>
</html>
